.section-map {
    margin-top: -30px;
}

.contact-section{
    margin: 0 5%;
}
.contact {
    background-color: #0074d9;
}

.mright {
    float: right;
    margin-right: 5%;
}

.buffalo{
    font-weight: 500;
    font-size: 1.2em;
    color: rgb(214, 26, 82);
}
